__pycache__

.vscode

*.bat

*.npz

src/face_models/model-ir-v1
src/face_models/model-mtcnn
src/face_models/model-r100-ii

images/lfw
images/pairs.txt
images/people.txt
images/CyberextruderUltimate
images/essex
images/vggface2_*

vggface2_job.py