__pycache__

.vscode

*.h5
*.png
*.bat
*.log
*.txt
*.npz
*.hdf5

src/face_models/model-ir-v1
src/face_models/model-mtcnn
src/face_models/model-r100-ii

images/rs
images/lfw
images/pairs.txt
images/people.txt
images/CyberextruderUltimate
images/essex
images/vggface2_*

vggface2_job.py
verification_job.py
verification_job.sh
verification_leakage_job.py
verification_leakage_job.sh
identification_job.py
identification_job.sh
